@media screen {
    #list{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    } 
}
@media screen and (min-width: 830px) {
    #list{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (min-width: 1246px) {
    #list{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}


