body {

  font-family: "Open Sans", sans-serif;
  color: #1a1a1a;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

Form {
  background-color: #dcdedf;
  display: flex;
  width: 100%;
  height: auto;
} 