:root{
    --main-color1: #ff000a;
    --main-color2: #005B9A;
    --main-color3: #8C8984;
    --main-color4: #1d72d3;
}

#academicPeriod {
    background: var(--main-color4);
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 1rem;
    border-radius: 15px;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    transition: ease-in-out 0.2s;
}

#dates{
    display: flex;
    flex-direction: row;
}

#academicPeriod:hover{
    background: var(--main-color2);
}

h1{
    text-align: center;
}

#tittle{
    color: #ffffff;
}

#buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#update_delete_button{
    background-color: #005B9A;
    color: #f0f0f0;
    font-size: 18px;
    padding: 15px;
    border: 0;
    border-radius: 15px;
    transition: all ease-in 0.2s;
    width: 150px;
    margin-inline: 1rem;
    margin-top: 10px;
}

#update_delete_button:hover{
    transform: scale(1.1);
    background-color: #0065ad;
}