body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Sriracha', cursive;
}

/* Estilos para el header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 10px 20px; /* Añadido padding */
}

.header .logo {
  font-size: 25px;
  color: #000;
  text-decoration: none;
}

/* Estilos para la sección principal (intro) */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 520px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("https://portal.unicauca.edu.co/versionP/sites/default/files/images/Bioingenieria(1).JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center; /* Añadido text-align */
  color: #fff; /* Añadido color de texto */
  padding: 20px; /* Añadido padding */
}

.intro h1 {
  font-size: 3em;
  font-weight: bold;
  margin: 0;
}

.intro p {
  font-size: 1em;
  margin: 20px 0;
}

.intro button {
  font-size: 1.2em;
  padding: 10px 20px;
}

/* Estilos para la sección de logros (achievements) */
.achievements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.achievements .work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  text-align: center;
}

.achievements .work i {
  font-size: 2em;
  color: #5161ce;
  border-radius: 40%;
  border: 2px solid #333333;
  padding: 15px;
}

.achievements .work .work-heading {
  font-size: 1.5em;
  text-transform: uppercase;
  margin: 5px 0;
}

.achievements .work .work-text {
  font-size: 1em;
  margin: 5px;
}

/* Estilos para la sección "Acerca de mí" (about-me) */
.about-me {
  display: flex;
  flex-direction: column-reverse; /* Cambiado a columna invertida para la imagen */
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-top: 2px solid #eeeeee;
}

.about-me img {
  width: 100%;
  max-width: 500px; /* Limitar el ancho máximo */
  border-radius: 10px;
}

.about-me-text h2 {
  font-size: 2em;
  color: #5161ce;
  text-transform: uppercase;
  margin: 0;
}

.about-me-text p {
  font-size: 1em;
  margin: 10px 0;
}

/* Estilos para el pie de página (footer) */
.footer {
  display: flex;
  flex-direction: column-reverse; /* Cambiado a columna invertida para los enlaces */
  justify-content: space-between;
  align-items: center;
  background-color: #5161ce;
  padding: 20px;
  text-align: center; /* Añadido text-align */
  color: #fff; /* Añadido color de texto */
}

.footer .copy {
  margin-bottom: 10px;
}

.bottom-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-links .links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bottom-links .links span {
  font-size: 1.2em;
  text-transform: uppercase;
  margin: 10px 0;
}

.bottom-links .links a {
  text-decoration: none;
  color: #a1a1a1;
  padding: 10px 20px;
}

/* Estilos específicos para pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .header .logo {
    margin: 10px 0;
  }

  .intro {
    height: auto;
    padding: 40px; /* Aumentado el padding */
  }

  .intro h1 {
    font-size: 2em;
  }

  .achievements {
    padding: 40px;
  }

  .achievements .work {
    margin: 40px;
  }

  .achievements .work i {
    font-size: 3em;
  }

  .about-me {
    padding: 40px;
  }

  .about-me img {
    max-width: 100%;
  }

  .footer {
    padding: 40px;
  }

  .bottom-links .links {
    flex-direction: column;
    align-items: center;
  }

  .bottom-links .links a {
    margin: 5px 0;
  }
}
@media screen and (max-width: 375px) {
  .intro h1 {
    font-size: 1.2em;
  }

  .intro p {
    font-size: 0.7em;
  }

  .achievements .work {
    margin: 10px;
  }

  .achievements .work i {
    font-size: 2em;
  }

  .about-me img {
    max-width: 100%;
  }

  .footer {
    padding: 10px;
  }
}