/* NavigationItem.css */

#navbar {
  background-color: #5161ce;
  color: white;
}

#logo{
	height: 3rem;
}

#navbarNavDropdown	{
	justify-content: end;
}

#basic-nav-dropdown, #home{
  color: white;
  font-size: 1.2rem;
  transition: ease-in-out 0.3s;
}

#basic-nav-dropdown:hover, #home:hover{
  color: rgb(76, 35, 35);
}
